.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .floatingSVG {
    position: absolute;
    animation: float 10s linear infinite;
    width: 10vmin;
    z-index: 20;
    height: 10vmin;
  }

  @keyframes float {
    0% {
      transform: translateX(-100%) translateY(0%) rotate(-5deg);
    }
    20% {
      transform: translateX(20%) translateY(-10%) rotate(2deg);
    }
    40% {
      transform: translateX(40%) translateY(10%) rotate(-2deg);
    }
    60% {
      transform: translateX(60%) translateY(-10%) rotate(3deg);
    }
    80% {
      transform: translateX(80%) translateY(10%) rotate(-2deg);
    }
    100% {
      transform: translateX(200%) translateY(0%) rotate(5deg);
    }
  }




  /* Add this to the existing FloatingSVG.module.css */

/* For tablets and larger screens */
@media (min-width: 768px) {
    .floatingSVG {
      width: 50vmin;
    }
  }

  /* For smaller screens */
  @media (max-width: 767px) {
    .floatingSVG {
      width: 70vmin;
    }
  }
